.contactMeHeader {
  font-size: 32px;
  font-weight: 700;
  border-bottom: ridge;
  color: #251E13;
}

.contactMeBlocks {
  border: black solid 2px;
  background-color: #CFCFDE;
  font-size: large;
  
}

.contactMeBlocksInterior {
  color: #251E13;
}
